@tailwind base;
@tailwind components;
@tailwind utilities;


.color-1 {
    background: #61538e;
}
.color-2 {
    background: #fdfffd;
}
.color-3 {
    background: #29294c;
}
.color-4 {
    background: #eeeeee;
}
.color-5 {
    background: #4f5190;
}

br {
    @apply py-4;
}